.btn {
  font-family: "Poppins", sans-serif;
  box-shadow: none !important;
  border-radius: 26px;
  font-weight: 700;
  height: 46px;
  line-height: 46px;
  font-size: 15px;
  text-transform: capitalize;
  color: #fff;
  padding: 0 40px;
  outline: none !important;
  overflow: hidden;
  display: inline-block;
  position: relative;
  letter-spacing: 0.5px;
}
.btn-about {
  background-color: #4169e1;
}
.btn-about:hover {
  color: white;
}
