.main-haider {
  height: 82px;
}
.main-haider .nav-wrapper,
.navbar,
.collapse {
  height: 100%;
}
.main-haider .navbar .collapse {
  line-height: 62px;
}

.navbar-light .navbar-nav .nav-item {
  margin-left: 13px;
  margin-right: 20px;
}
.navbar-light .navbar-nav .nav-item .nav-link {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  color: #111;
  text-transform: uppercase;
  border-bottom: 2px solid transparent;
  transition-property: border;
  transition-duration: 1s;
  transition-timing-function: linear;
  transition-delay: 0s;
}
.navbar-light .navbar-nav .nav-item .nav-link:hover {
  color: #ff760e;
  border-bottom-color: #ff760e;
  animation-name: item;
  animation-timing-function: linear;
}
@keyframes item {
  from {
    left: 0;
  }
  to {
    right: 100%;
  }
}
