.section-footer {
  position: absolute;
  padding: 40px 0;
  background-color: #eee;
  bottom: 0;
  width: 100%;
}
.footer-menu ul {
  list-style: none;
  margin: 0;
  padding: 0%;
}
.footer-menu li {
  display: inline-block;
}
.footer-menu li a {
  text-transform: uppercase;
  text-decoration: none;
  padding: 0 9px;
  font-weight: 800;
}
.footer-menu li a:hover {
  color: #4169e1;
}
.section-footer .copyright {
  text-transform: capitalize;
  margin-top: 40px;
}
